html 
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/assets/styles/reset.css", data-inline="data-inline")
    link(rel="stylesheet", href="welcome/style.css", data-inline="data-inline")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap")
  body
    div(class="background")
      div(class="container")
        div(class="border")
          div(class="card")
            div(style="background-image:url(\"https://res.cloudinary.com/brewhackers-technologies/image/upload/v1622169694/marketing/logo_cupyly.png\");margin: auto;width: 5rem;height: 5rem;padding: 1.5rem 0;background-size:contain;background-position:center;background-repeat:no-repeat;")
            p(class="jost app-desc")
              | We understand you are busy, so we bring to you the best news of the tech world curated from trustworthy sources, summarized in under 100 words. Stay informed in under 5 minutes
          h1(class="personal roboto") News for #{user['name']}  
        
        div(class="card border")
          p(class="jost app-desc" style="padding: 1rem;text-align:left;")
            | Hey #{user['name']},
          p(class="jost app-desc" style="padding:0 1rem;text-align:left;")
            | I’m Sumit Sinha, the founder of Gist. I’m writing to personally welcome you to the Gist community!
            <br>
            <br>
            | Having started this journey only 3 months ago, our community is rapidly growing and we’re so glad to have you be a part of it. With a goal to give you the GIST of an article in under 15 seconds, we hope your experience with us is fruitful and efficient.
            <br>
            <br>
            | Learning how we can improve your experience with us is what we strive to do on a daily basis. So, please feel free to reply back to this email with your feedback or suggestions.
            <br>
            <br>
            | Best Wishes,Sumit Sinha
            <br>
            | Founder | <a style="text-decoration:none;color:inherit;vertical-align:baseline;" href="https://gist.website">GIST</a>
              
      
        div(class="footer border")
          div(class="tagline poppins") Tech News in 100 Words
          br
          div(class="download-links")
            a(href="https://gistwebsite.page.link/newsletter")
              div(style="display:inline-block;background-image:url(\"https://res.cloudinary.com/brewhackers-technologies/image/upload/v1614373207/marketing/appstore_do2uuw_ek5ues.png\");margin:auto;width:5.12rem;height:2rem;padding:.5rem;background-size:contain;background-position:center;background-repeat:no-repeat;")
            a(href="https://gistwebsite.page.link/newsletter")
              div(style="display:inline-block;background-image:url(\"https://res.cloudinary.com/brewhackers-technologies/image/upload/v1622169694/marketing/google-playstore_zlvqrh.png\");margin:auto;width:5.12rem;height:2rem;padding:.5rem;background-size:contain;background-position:center;background-repeat:no-repeat;")
          div(class="sent roboto")
            | Sent by &nbsp;
            <a href="https://gist.website">GIST</a>
            span &nbsp; · &nbsp;
            | 1st Floor, Raghuma Towers, Phase 2, Kaveri Hills, Madhapur, Telangana 500081
            br
            br
            span <a href="https://gist.website/unsubscribe?email=#{user['email']}}">Unsubscribe</a> from this type of email
          div(class="terms roboto")
              <a href="https://gist.website/#/privacy-policy">Privacy policy</a> · 
              <a href="https://gist.website/#/terms-of-service">Terms of service</a>