html 
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/assets/styles/reset.css", data-inline="data-inline")
    link(rel="stylesheet", href="welcome/index.css", data-inline="data-inline")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap")
  body
    div(class="container")
      table
        tbody
          tr
            td(align="center")
              div(style="padding:0.5rem;")
              img(class="logo" src="/assets/images/logo.svg" alt="GIST Logo")
              p(class="poppins app-desc" style="padding: 1rem;text-align:left;")
                | We understand you are busy, so we bring to you the best news of 
                | the tech world curated from trustworthy sources, summarized in 
                | under 100 words. Stay informed in under 5 minutes 
              
      
      table
        tbody
          tr
            td
              p(class="jost app-desc" style="padding: 1rem;text-align:left;")
                | Hey #{user['name']},
              p(class="jost app-desc" style="padding: 1rem;text-align:left;font-we")
                | I’m [name], the founder of [company name] and I’d like to personally thank you for signing up to our service.
                <br>
                <br>
                | We established [company name] in order to [mission/values of company].
                <br>
                <br>
                | I’d love to hear what you think of [product] and if there is anything we can improve. If you have any questions, please reply to this email. I’m always happy to help!
                <br>
                <br>
                | [name]
              
      
      table
          tbody
            tr
              td(align="center" class="footer")
                div(class="tagline poppins") Tech News in 100 Words
                br
                div(class="download-links")
                  a(href="https://gistwebsite.page.link/newsletter")
                    img(class="store-icon" src="/assets/images/appstore.svg" alt="get GIST on app store")
                  a(href="https://gistwebsite.page.link/newsletter")
                    img(class="store-icon" src="/assets/images/googleplay.svg" alt="get GIST on play store")
                div(class="sent roboto")
                  | Sent by &nbsp;
                  <a href="https://gist.website">GIST</a>
                  span &nbsp; · &nbsp;
                  | 1st Floor, Raghuma Towers, Phase 2, Kaveri Hills, Madhapur, Telangana 500081
                  br
                  br
                  span <a href="https://gist.website/unsubscribe?email=#{user['email']}}">Unsubscribe</a> from this type of email
                div(class="roboto")
                    <a href="https://gist.website/#/privacy-policy">Privacy policy</a> · 
                    <a href="https://gist.website/#/terms-of-service">Terms of service</a>
                
              