body {
  background-color: #ffffff;
  color: #222222;
  --app-desc: #656565;
  --personal: #888888;
  --post-title: #333333;
  --post-content: rgb(86, 86, 86);
  --border-color: #e5e5e5;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000 !important;
    color: #ffffff !important;
    --app-desc: #bbbbbb !important;
    --personal: #aaaaaa !important;
    --post-title: #efefef !important;
    --post-content: rgb(187 187 187) !important;
    --border-color: #252525 !important;
  }
}

table {
  display: block;
  margin: 1rem 0;
  border-collapse: initial;
}

table tbody {
  display: inherit;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}

table tbody tr {
  display: inherit;
}

table tbody tr td {
  display: block;
  width: 100%;
  font-size: 1rem;
}

img {
  width: inherit;
}

a {
  font-size: inherit;
  text-decoration: underline;
  color: inherit;
}

a:hover {
  color: #3989f7 !important;
}

.container {
  margin: auto;
  max-width: 400px;
  padding: 1rem;
}

.poppins {
  font-family: Poppins;
  font-size: inherit;
  line-height: 1.35;
}

.roboto {
  font-family: Roboto;
  font-size: inherit;
  line-height: 1.5;
}

.jost {
  font-family: Jost;
  font-size: inherit;
  line-height: 1.4;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.center {
  text-align: center;
}

.app-desc {
  color: var(--app-desc);
  font-size: 0.9rem;
}

.personal {
  padding: 1rem;
  text-align: left;
  border-top: 1px solid var(--border-color);
  color: var(--personal);
}

.post-title {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
  color: var(--post-title);
}

.post-image {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.post-content {
  font-size: 1rem;
  padding: 0 1rem 1rem 1rem;
  color: var(--post-content);
}

.footer {
  padding: 2rem 1rem !important;
  width: inherit;
  font-size: 0.8rem;
  padding: 1rem;
  color: var(--app-desc);
}

.tagline {
  font-weight: bold;
  font-size: 1.3rem;
}

.store-icon {
  height: 2rem;
  padding: 0.5rem;
}

.sent {
  padding: 1rem;
}

.terms {
  padding: 0.5rem 1rem 0 0;
}
