@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
    --post-title: #ffffff;
    --post-content: rgb(187, 187, 187);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #222222;
    --post-title: #222222;
    --post-content: rgb(86, 86, 86);
  }
}

.poppins {
  font-family: Poppins;
}

.roboto {
  font-family: Roboto;
}

.jost {
  font-family: Jost;
}

.logo {
  height: 3rem;
  width: 3rem;
}
